@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt|Shadows+Into+Light|Cedarville+Cursive');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

.logo img {
    width: 80px; 
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 200px;
    font-size: 24px;
    gap: 10px;
}

.nav {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
    padding-right: 250px;
}

ul.nav li a {
    text-decoration: none;
    color: inherit;
}

.logo span{
    color: #ff9716;
    font-family: 'Cedarville Cursive', cursive;
}

.header {
    display: flex;
    height: 827px;
    align-items: center;
    justify-content: space-around;
}

section.overlay {
    background: linear-gradient(232deg, white, white 58%, #F6B400 calc(58% + 1px), #F6B400 100%);
}

.headertext {
    line-height: 1.8;
}

.headertext h2 {
    font-size: 28px;
}

.headertext p {
    padding-top: 30px;
}

.mystery{
    padding-top: 40px;
}

button#randombtn {
    padding: 10px 30px 10px 30px;
    background: transparent;
    border: solid 2px #000;
    border-radius: 10px;
}

section.popular {
    display: flex;
    justify-content: space-around;
    height: 600px;
    align-items: center;
}

.card {
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 200px;
}

.popularheader h2 {
    text-align: center;
    padding-top: 80px;
    font-size: 36px;
}

.main {
    background: linear-gradient(90deg, white, white 58%, #F6B400 calc(151% + 1px), #F6B400 100%);
}

li.one {
    list-style: none;
}

section.categories {
    display: flex;
}

li.one img {
    width: 150px;
}


