@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt|Shadows+Into+Light|Cedarville+Cursive');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

.logo img {
    width: 80px; 
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 200px;
    font-size: 24px;
    gap: 10px;
}

.nav {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
    padding-right: 250px;
}

ul.nav li a {
    text-decoration: none;
    color: inherit;
}

.logo span{
    color: #ff9716;
    font-family: 'Cedarville Cursive', cursive;
}

.header {
    display: flex;
    height: 827px;
    align-items: center;
    justify-content: space-around;
}

section.overlay {
    background: linear-gradient(232deg, white, white 58%, #F6B400 calc(58% + 1px), #F6B400 100%);
}

.headertext {
    line-height: 1.8;
}

.headertext h2 {
    font-size: 28px;
}

.headertext p {
    padding-top: 30px;
}

.mystery{
    padding-top: 40px;
}

button#randombtn {
    padding: 10px 30px 10px 30px;
    background: transparent;
    border: solid 2px #000;
    border-radius: 10px;
}

section.popular {
    display: flex;
    justify-content: space-around;
    height: 600px;
    align-items: center;
}

.card {
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 200px;
}

.popularheader h2 {
    text-align: center;
    padding-top: 80px;
    font-size: 36px;
}

.main {
    background: linear-gradient(90deg, white, white 58%, #F6B400 calc(151% + 1px), #F6B400 100%);
}

li.one {
    list-style: none;
}

section.categories {
    display: flex;
}

li.one img {
    width: 150px;
}

section.categories {
    display: flex;
    justify-content: center;
    gap: 80px;
    height: 600px;
    align-items: center;
}

.categoryheader h2 {
    text-align: center;
    padding-top: 80px;
    font-size: 32px;
    font-weight: lighter;
}

li.one {
    list-style: none;
    border: solid 1px #ccc;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

li.one:hover{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

li.one img:hover{
    width: 200px;
    transition-delay: 0.20s;
}

.categoryheader p {
    text-align: center;
    color: #7c7c7c;
}

section.footer {
    height: 400px;
    display: flex;
    align-items: center;
    background: burlywood;
}

section.mainportfolio {
    height: 1100px;
    padding-top: 132px;
}

input#name {
    padding: 15px 292px 20px 25px;
    border-radius: 10px;
    border: transparent;
}


section.footer {
    height: 700px;
    display: flex;
    align-items: center;
    background: #F6B400;
    justify-content: center;
    gap: 400px;
    font-family: 'Poppins';
}
.contacts h2 {
    font-size: 48px;
    color: #fff;
}
.contacts span {
    color: #000;
}
.contactbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 150px;
}

button.submit {
    padding: 15px 40px 15px 40px;
    border-radius: 10px;
    border: solid 1px #000;
    background: transparent;
}
.submitbtn {
    padding-top: 20px;
    padding-left: 500px;
}

.phoneicons {
    line-height: 2.2;
    padding-top: 40px;
}

.footericons {
    padding-top: 20px;
    display: flex;
    gap: 20px;
}

input#message {
    padding: 15px 292px 150px 25px;
    border-radius: 10px;
    border: transparent;
}

.main {
    display: none;
}

.redirect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 204px;
    text-align: center;
}

.products img {
    width: 400px;
}
.title {
    text-align: center;
    padding-top: 60px;
}

.title h1 {
    font-weight: lighter;
}

.products img:hover {
    width: 500px;
    transition-delay: 0.40s;
    cursor: pointer;
}
.junkitem img{
    width: 300px;
}


.junkitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content {
    width: 810px;
}